*
  box-sizing: border-box
  
body
  +reg

img
  max-width: 100%

.container
  max-width: 1170px
  margin: auto

.section
  padding: 55px 0
  &-title 
    font-size: 24px
    +bold
  &-subtitle
    display: block
    font-size: 16px

.button
  border-radius: 10px
  background-color: $main-color
  border: none 
  padding: 18px 30px
  +bold
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer

.input
  border: 1px solid $border-input
  border-radius: 10px
  padding: 22px 26px
  font-size: 15px
  outline: none
  &:focus
    box-shadow: 0 0 5px lighten($main-color, 10%)
    border-radius: 10px

@media (max-width: 1200px)
  .container
    max-width: 1180px
    width: 95%
@media (max-width: 768px)
  .container
    max-width: 750px
    width: 95%
@media (max-width: 568px)
  .container
    max-width: 550px
    width: 90%
  .button
    border-radius: 5px
    padding: 13px 26px
  .section
    padding: 37px 0

